table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

th, td {
  padding: 12px 15px;
  text-align: center;
}

th {
  background-color: #52796f;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

tr:nth-child(even) {background-color: #f9f9f9;}

img {
  border-radius: 8px;
}
h1 {
  text-align: left;
  margin-bottom: 20px;
  color: #354f52;
}
